.form-book {
  &__item {
    margin: 10px 0 10px 0;
  }
  &__select {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;

    &__title {
      width: 199px;
      font-size: 13px;
      position: relative;
      top: 10px;
      label {
        margin: 0px !important;
      }
    }
    &__select {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
    
  }
}
